/****** General ***********/
* {
    font-family: "raleway", sans-serif;
    }
    
    :root {
        --main-color: #0065FC;
        --main-bg-color: #F2F2F2;
        --filter-bg-color: #DEEBFF;
    }
    
    .fa-solid {
        color: var(--main-color);
    }
    
    body {
        display: flex;
        justify-content: center;
    }

    .main-container {
        width: 100%;
        max-width: 1440px;
        padding: 0px 50px ;
        box-sizing: border-box;
    }

    /**** header ****/
    header {
        display: grid;
        grid-template-columns: 61px 244px;
        gap: 1000px;
        margin-bottom: 50px;
        height: 79px;
    }

    .logo {
        height: 20px;
        padding: 30px 50px 30px 0px;
    }

    header ul {
        list-style-type: none;
        padding: 0px 50px 0px 50px;
        display: grid;
        grid-template-columns: 113px 63px;
        gap: 68px;
        position: relative;
        bottom: 24px;
    }

    header li {
        margin-top: 0px;
        padding-top: 15px;
    }

    header li:hover {
        color: #0065FC;
        border-top:2px solid #0065FC;
        padding-top: 14px;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    /*** Recherche ***/
    h1 {
         font-size: 1.3em;
    }

    .fonctionrecherche {
        height: 45px;
        width: 377px;
        border:  none;
        border-radius: 15px;
        display: grid;
        grid-template-columns: 50px 195px 132px;
        background-color: #F2F2F2;
        margin-bottom: 20px;
    }

    .fonctionrecherche i {
        font-size: 25px;
        color: black;
    }

    .submit {
        background-color: #0065FC;
        color: white;
        border-radius: 0px 15px 15px 0px;
        font-weight: bold;
        font-size: 17px;
        border: none;
    }

    .barrederecherche {
        border: none;
        height: 41px;
        position: relative;
        top: 1px;
        text-align: center;
    }

    form i {
        color: black;
        text-align: center;
        position: relative;
        top: 10px;
    }

    #loupe {
        display: none;
    }

    ::placeholder {
        color: black;
        font-weight: bold;
        font-size: 17px;
    }

    /*** Filtres de recherche***/
    .filtres {
        display: flex;
    }

    .filtres ul {
        display: flex;
        font-weight: bold;
        list-style-type: none;
        position: relative;
        bottom: 10px;
    }

    .filtres li {
        margin-right: 15px;
        border: 2px solid #D9D9D9;
        border-radius: 25px;
        padding: 12px;
    }

    .filtres li:hover {
        background-color: #DEEBFF;
        cursor: pointer;
    }

    .filtres i {
        margin-right: 10px;
    }
    
    .info {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .info i {
        font-size: 10px;
        margin-right: 10px;
        border: 2px solid #D9D9D9 ;
        border-radius: 50%;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .section-title {
        margin: 0;
        font-size: 22px;
    }
    
    .card {
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }
    
    .card img {
        object-fit: cover;
    }
    
    .card-title {
        font-size: 16px;
    }
    
    .euro {
        font-weight: 700;
    }
    
    .neutral-star {
        color: var(--main-bg-color)
    }
    
    /****** Hebergements And Populaires ***********/
    .hebergements-and-populaires {
        display: flex;
        justify-content: space-between;
    }
    
    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;
    }

    .card {
        box-shadow: 0px 3px 15px #0000001A;
    }
    
    strong {
        font-size: 18px;
    }
    
    /****** Hebergements ***********/
    .hebergements {
        width: 66%;
        padding: 0px 30px;
    }

    .hebergements h2 {
        margin-bottom: 30px;
    }

    .hebergements-cards {
        display: grid;
        grid-template-columns: 250px 250px 250px;
        grid-template-rows: 207px 207px;      
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 30px;
    }

    .hebergements-cards .card {
       width: 250px;
       height: 207px;
    }

    .hebergements-cards img {
        width: 250px;
        height: 124px;
        border-radius: 20px 20px 0px 0px;
    }

    .hebergements .card-content {
        padding: 0px 15px;
        position: relative;
        bottom: 10px;
    }

    .hebergements .card-txt {
        line-height: 15px;
    }

    .hebergements .card-rating {
        position: relative;
        bottom: 10px;
    }
    
    /****** Populaires ***********/
    .populaires {
        width: 32%;
    }
    
    .populaires-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .populaires-cards .card {
        display: flex;
        margin-top: 33px;
    }
    
    .populaires-cards img {
        width: 33%;
        height: 136px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    .populaires-cards .card-content {
        width: 67%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }
    
    .populaires-cards .card-title {
        margin-top: 10px;
        margin-bottom: 4px;
    }
    
    .populaires-cards .card-subtitle {
        margin: 0;
    }
    
    .populaires-cards .card-rating {
        margin-bottom: 5px;
    }
    
    /*** Activités ***/
    .activités {
        margin: 15px;
        padding: 30px;
    }

    .activités-cards {
        display: flex;
        padding-top: 30px;
        justify-content: space-between;
    }

    .activités-cards .card {
        border-radius: 20px;
        box-shadow: 0px 3px 15px #0000001A;
        width: 297px;
        height: 439px;
        padding: 0;
    }

    .activités-cards img {
        width: 297px;
        height: 380px;
        border-radius: 20px 20px 0px 0px;
    }

    .activités-cards h3 {
        margin: 15px;
        font-size: 16px;
    }

    /*** footer ***/
    footer {
        width: 1300px;
        height: 163px;
        display: flex;
        background-color: #F2F2F2;
        padding: 20px;
    }

    footer div {
        width: 446.67px;
        
    }
     footer li {
        list-style-type: none;
        margin: 15px;
     }

    
    
    
    /* Le code ci-dessous correspond à la version responsive uniquement */
    
    /****** Media queries ***********/
    /* Medium devices (tablets, less/equal than 1024px) */
    @media (max-width: 1024px) {
        header {
            gap: 550px;
        }

        .hebergements-and-populaires {
            flex-direction: column;
        }
    
        .hebergements {
            width: 100%;
        }
    
        .populaires {
            width: 100%;
            margin-top: 50px;
        }
    
        .populaires-cards {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    
        .populaires-cards a {
            width: 30%;
        }
    
        .populaires-cards .card-title {
            font-size: 14px;
        }
    
        .populaires-cards .card-subtitle {
            font-size: 13px;
        }

        .activités-cards .card {
            width: 193px;
            height: 270px;
        }

        .activités-cards img {
            width: 193px;
            height: 200px;
        }

        footer {
            width: 924px;
        }
    }
    
    /* Small devices (phones, less than 768px) */
    @media (max-width: 767.98px) {
        .main-container {
            max-width: 768px;
            padding: 0;
        }

        header {
            display: block; 
            text-align: center;
        }

        header ul {
            text-align: center;
            padding: 0px 0px;
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 0;
        }

        header li {
            padding-bottom: 0px 50px 15px 50px;
            text-align: center;
        }

        header li:hover {
            border-bottom: 2px solid #0065FC;
            padding-bottom: 14px;
            border-top: none;
        }

        .fonctionrecherche {
            margin: 0px 20px;
            grid-template-columns: 15% 70% 15%;
        }

        form span {
            display: none;
        }

        #loupe {
            display: block;
            color: white;
        }

        .submit {
            border-radius: 15px;
        }



        .filtres {
            flex-wrap: wrap;

        }

        .hebergements-and-populaires {
            flex-direction: column;
        }

        .hebergements-cards {
            display: block;
            flex-direction: column;
        }
        
            
    }
